@charset "UTF-8";
/* Importa as fontes Poppins e Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Montserrat:wght@400&display=swap');

/* Estilo geral */
body {
    font-family: Arial, sans-serif !important;
    background-image: url('./imagens/download\ atul.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Faz a imagem de fundo ficar fixa ao rolar a página */
    background-position: center; /* Centraliza a imagem */
    color: black !important;
}

/* Header */
header {
    text-align: center;
    background: linear-gradient(to right, #b942f5, #7e42f5);
    color: white;
    height: 106px;
}

/* Efeito de degradê animado para o h1 com Poppins ExtraBold */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header h1,
header h2 {
    font-family: 'Poppins', sans-serif; /* Aplicando Poppins */
    font-weight: 800; /* Estilo ExtraBold */
    font-size: 3.5em;
    background: linear-gradient(to right, #F8BBD0, #C9A9FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 3s ease infinite; /* Animação do degradê */
}

header h1 p,
header h2 p {
    font-family: 'Montserrat', sans-serif; /* Aplicando Montserrat para parágrafos dentro de h1 e h2 */
    font-size: 1em; /* Ajusta o tamanho do texto */
    color: #FFFFFF; /* Cor branca para visibilidade */
}

section {
    padding: 20px;
}

/* Ajuste para h2 em section */
section h2 {
    font-family: 'Poppins', sans-serif; /* Usando a mesma fonte */
    font-weight: 800; /* Estilo ExtraBold */
    font-size: 4em;
    background: linear-gradient(to right, #b942f5, #7e42f5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

section h2 p {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2em; 
    color: black; 
    margin-top: 10px; /* Espaço acima do parágrafo */
    margin-bottom: 15px; /* Espaço abaixo do parágrafo */
}

img {
    display: flex;
    align-items: center;
    height: 70vh;
    width: 60vw;
    margin: 0 auto;
}

section.arquitetura p {
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif; 
}


.orcamento p {
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif; 
}


#content {
    text-align: center;
    padding-top: 113px;
    margin-top: 150px; 
    
}


#content div p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    margin-top: 20px; 
   
}

.hidden {
    display: none;
}

.navbar-brand img {
    width: 30px;
    height: auto;
    margin: 0 auto;
}

.navbar-toggler-icon,
.navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-link:hover {
    color: #7e42f5;
}

.buttons {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    margin-top: 150px; 
}


.buttons button {
    font-size: 1.5em; 
    padding: 15px 30px; 
    background-color: #7e42f5; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.5s; 
}


.buttons button:hover {
    background-color: #b942f5;
}

.oncamento{
    margin-left:166px;
}
